#themed .upil-missing-value-node .v-alert  {
  background-color: #4CAF50 !important;
  border-radius: 25px !important;
}

#themed .upil-missing-value-node .v-sheet  {
  border-radius: 25px !important;
}

#themed .upil-missing-value-node .col  {
  border-radius: 25px !important;
}